.portfolioProjects {
  padding: 2rem 4rem 2rem 4rem;
}

.image-grid {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 15px;
  margin: 50px auto;
  max-width: calc(3 * 250px + 2 * 15px);
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    max-width: calc(2 * 250px + 1 * 15px);
  }
}

@media (max-width: 480px) {
  .portfolioProjects {
    padding: 1rem 1rem 1rem 1rem;
  }
  .image-grid {
    grid-template-columns: 1fr;
    max-width: 250px;
  }
}
