.profilePic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit:cover;
    object-position: 100% 30%;
  }

.aboutMe h3 {
    font-size: 20px;
    margin: auto;
}

.aboutMe p {
    font-size: 18px;
    margin: 30px 100px;
}
