.aboutMe {
    padding: 1rem 4rem;
    z-index: 3;
}
.profilePic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit:cover;
    object-position: 100% 30%;
  }

.aboutMe h2 {
    font-size: 20px;
    margin: auto;
}

.aboutMe p {
    font-size: 18px;
    margin: 30px 50px;
}

@media (max-width: 565px) {
    .profilePic {
        margin-top: 10px;
        height: 240px;
        width: 240px; 

    }
    .aboutMe p {
        font-size: auto;
        margin: 30px 15px;
    }
}

@media (max-width: 362px) {
    .aboutMe {
        padding: 1rem;
    }
    .aboutMe p {
        font-size: auto;
        margin: 20px 20px;
    }
}

@media (max-width: 345px) {
    .aboutMe {
        padding: 1rem;
    }
    .profilePic {
        height: 230px;
        width: 230px;
      }
    .aboutMe p {
        font-size: auto;
        margin: 15px 15px;
    }
}

@media (max-width: 302px) {
    .aboutMe {
        padding: 1rem;
    }
    .profilePic {
        height: 225px;
        width: 225px;
      }
    .aboutMe p {
        font-size: auto;
        margin: 15px 15px;
    }
}

/* Parallax */
.parallaxBody {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #ffffff;
    background: black;
    font-family: "Euclid Circular A", "Poppins";
  }
  
  .parallaxTitle {
    font-size: 5vw;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 24px;
    text-shadow: 0 0 20px rgb(0 0 0 / 90%);
  }
  .parallaxTitle h1 {
    font-size: 3vw;
    margin-bottom: 1rem;
  }

  .parallaxTitle p {
    text-align: center;
    margin: 1rem 4rem;
    font-size: 2vw;
    letter-spacing: 12px;
  }
  
  .parallaxSection {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
  }
  .parallaxOuter,
  .parallaxInner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .parallaxBg {
    display: grid;
    place-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
  }
  .parallaxSection .parallaxBg .parallaxTitle {
    z-index: 1;
  }
  .parallaxSection .parallaxBg .clip-text {
    overflow: hidden;
  }
