h1 {
    font-size: 30px;

}

.container {
    width: 500px
}

.submitBtn {
    padding: 8px 20px;
    border: 2px solid #00fffc;
    width: 473px;;
    height: 50px;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.submitBtn::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}

.submitBtn:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px #00fffc;
}

.submitBtn:hover::before {
    transform: translateX(100%);
}

.submitBtn:nth-child(2) {
    border: 1px solid #e819ef;
}

.submitBtn:nth-child(2)::before {
    background: linear-gradient(120deg, transparent, #e819ef, transparent);
}

.submitBtn:nth-child(2):hover {
    box-shadow: 0 0 20px 5px #e819ef;
}

.form-group.has-error .form-control,
.form-group.has-error .form-control:empty {
    border-color: violet;
}

.alert-success {
    background: #000000;
    border-color: #00fffc;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px #00fffc;
    transition: 0.6s;
}

.alert-danger {
    background-color: #000000;
    border-color: violet;
    color: violet;
}

.submitDanger {
    border-radius: 0px;
}